.user-info{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.user-info h1{
    font-size: 32px;
}

.user-info p{
    color: black;
    line-height: 20px;
    margin-top: 5px;
}
